*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    border-radius: 10px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(to right,rgb(192, 187, 187), rgb(199, 140, 140), rgb(131, 172, 197));
    height: 600px;
}

h1{
    text-align: center;
    padding-top: 40px;
}

.f{
  
    border: 5px solid red;
    border-radius: 50px;
    padding: 20px;
    background: black;
    color: #fff;
}

span.f sup{
    font-size: 55px;
    color: red;
}

.c{
  
    border: 5px solid rgb(58, 200, 213);
    border-radius: 50px;
    padding: 20px;
    background: black;
    color: #fff;
}

.fa{
    -webkit-text-stroke: red;
    -webkit-text-stroke-width: 1px;
    font-size: 40px;
    color: transparent;
   
}

.ce{
-webkit-text-stroke: lightskyblue;
-webkit-text-stroke-width: 1px;
font-size: 40px;
color: transparent;
}
    

span.c sup{
    font-size: 55px;
    color: rgb(66, 189, 234);
}


.container{
    text-align: center;
}

.nums {
    padding: 30px;
    font-size: 31px;
}

input#fahrenInput {
    border: none;
    height: 52px;
    border-radius: 20px;
    width:370px;
    font-size: 32px;
    text-align: center;
}

.buttons {
    padding-left: 42px;
}

input#answerField {
    border: none;
    height: 52px;
    border-radius: 20px;
    width:370px;
    font-size: 32px;
    text-align: center;
}
.answer{
    padding: 30px;
    font-size: 31px;
}
input#toCelciusBtn  {
    padding: 20px;
    width:120px;
    font-size: 20px;
    padding:20px;
    border: hidden;
    background: transparent;
    border: 2px solid rgb(246, 242, 242);
}

input[type="button"] {
    padding: 20px;
    font-size: 20px;
    background: transparent;
    border: 2px solid rgb(246, 242, 242);
    border-radius: 10px;
    margin-left:20px;
    width:120px;  
}

footer{
    position: absolute;
    bottom: 10px;
    font-size: x-large;
    padding-left: 120px;
    padding-bottom: 50px;
}

.fotter p{
    text-align: center;
}